<div class="fila1">

    <div class="background-container parallax-bg"></div>

    <div class="main">
        <span class="webdev">TRAGO LOCO</span>
        <div id="first-text">
        <span class="socod">El placer de beber</span>
        </div>  
    </div>

    <div class="botones-container">
        <div class="boton1">
            <a href="#" class="bolitas sitio-web">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fas fa-laptop animate__animated animate__swing"></i> Blog
            </a>
        </div>

        <div class="boton1">
            <a routerLink="/menu" class="bolitas jugar">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fas fa-gamepad animate__animated animate__swing"></i> Jugar
            </a>
        </div>
    
        <div class="boton1">
            <a href="#" class="bolitas reglas">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fas fa-book animate__animated animate__swing"></i> Reglas
            </a>
        </div>
    </div>
    
</div>
