<div class="fila1">
    <div class="main">
        <span class="webdev">TRAGO LOCO</span>
        <div id="first-text">
        <span class="socod">El placer de beber</span>
        </div>  
    </div>

    <div class="botones-container">
        <div class="boton1">
            <a href="#" class="bolitas sitio-web">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fas fa-laptop"></i> Blog
            </a>
        </div>

        <div class="boton1">
            <a href="#" class="bolitas jugar">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fas fa-gamepad"></i> Jugar
            </a>
        </div>
    
        <div class="boton1">
            <a href="#" class="bolitas reglas">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fas fa-book"></i> Reglas
            </a>
        </div>
    </div>

    <video muted autoplay loop>
		<source src="assets/img/fondo.mp4" type="video/mp4">
	</video>
    
</div>
