.fila1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-image: url('../../../assets/img/fondo_juegos.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: brightness(0.25); */
}

.parallax-bg {
  transform: translateZ(0);
  will-change: transform;
  transition: transform 0.1s ease-out;
}

/*LETRAS GRANDES*/
 
.main {
  width: 100% !important;
  font-family: var(--font-family-bob-esponja);
  text-align: center;
  white-space: nowrap;
  margin-top: 10rem;
  font-size: 100px;
  height: 35rem;
}
.main span {
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
          transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  will-change: opacity;
}
.main .webdev {
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
  -webkit-animation: blink 4s infinite alternate;
          animation: blink 4s infinite alternate;
}
.main .socod {
  font-size: 50px;
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px var(--main-color), 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px var(--main-color), 0 0 100px var(--main-color), 0 0 200px var(--main-color), 0 0 300px var(--main-color), 0 0 500px var(--main-color);
  -webkit-animation: buzz 0.01s infinite alternate;
          animation: buzz 0.01s infinite alternate;
}
 
@-webkit-keyframes buzz {
  70% {
    opacity: 0.80;
  }
}
 
@keyframes buzz {
  70% {
    opacity: 0.80;
  }
}

@-webkit-keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
}

@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}

/*Botón de Jugar*/

.boton1 {
    font-family: var(--font-family-poppins);
}

.botones-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 60%;
}

.bolitas {
    position: relative;
    display: inline-block;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--main-color);
    font-size: 2rem;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    width: 20rem;
    text-decoration: none !important;
    
}

.animate__swing{
  animation-duration: 5s;
}

.bolitas:hover {
    background-color: var(--main-color);
    color: #050801;
    box-shadow: 0 0 5px var(--main-color),
                0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 200px var(--main-color);
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.bolitas span {
    position: absolute;
    display: block;
}

.bolitas span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, var(--main-color));
    animation: animate1 1s infinite;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.bolitas span:nth-child(2) {
    top: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--main-color));
    animation: animate2 1s infinite;
    animation-delay: .25s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

.bolitas span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, var(--main-color));
    animation: animate3 1s infinite;
    animation-delay: .5s;
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    100% {
        right: 100%;
    }
}

.bolitas span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--main-color));
    animation: animate4 1s infinite;
    animation-delay: .75s;
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    100% {
        bottom: 100%;
    }
}

.sitio-web {
    --main-color: #28a745;
}

.reglas {
    --main-color: #ffc107;
}

.jugar {
    --main-color: #007bff;
}

.bolitas i {
  margin-right: 10px;
}

/* Responsive */

@media (max-width: 625px) {
  .main {
    width: 300px;
    font-size: 45px;
  }
 
  .main .socod {
    font-size: 25px;
    display: block;
    margin-top: 7rem;
  }

  .botones-container {
    flex-direction: column;
    align-items: center;
    margin-top: -9rem;
  }

  .bolitas {
      font-size: 1.5rem;
      padding: 20px;
  }

  .boton1{
    margin-top: 1rem;
  }
}

@media (min-width: 626px) and (max-width: 1000px) {

  .main {
    width: 600px;
    font-size: 70px;
  }
 
  .main .socod {
    font-size: 35px;
  }

  .botones-container {
    flex-direction: column;
    align-items: center;
    margin-top: -5rem;
  }

  .bolitas {
      font-size: 1.5rem;
      padding: 20px;
  }

  .boton1{
    margin-top: 2rem;
  }
}



